<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
      <add key="http_proxy" value="http://ep.threatpulse.net:80" />
      <add key="no_proxy" value=".conti.de" />
    </config>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="JFrog" value="https://eu.artifactory.conti.de/artifactory/api/nuget/ait_ma_eu_sdc_nuget_l" />
    </packageSources>
    <packageSourceCredentials>
        <JFrog>
            <add key="Username" value="uib75754" />
            <add key="ClearTextPassword" value="AP7CMcx5i2JsYBHjQD179Pw8fRh" />
        </JFrog>
    </packageSourceCredentials>
</configuration>